<form method="POST" action="/add" enctype="multipart/form-data">
    <input type="text" placeholder="nhap ten" name="ten">
    <input type="text" placeholder="nhap so dien thoai" name="sdt">
    <input type="file" name="image">
    <button type="submit">Submit</button>
</form>