<form method="POST" action="/edit">
    <input type="text" readonly name="masinhvien" value="<%=masinhvien%>">
    <input type="text" placeholder="nhap ten" name="ten">
    <input type="text" placeholder="nhap so dien thoai" name="sdt">
    <input type="file" name="avatar">
    <button type="submit">Submit</button>
</form>